body{
    background-color: #0f0f0f;
}
img{
    border:solid 5px #622835;
    width:700px;
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

header{
    height:80px;
    background:black;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    border:solid 5px #622835;

}
.logo{
    font-size:30px;
    font-weight:bold;
}
nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
}
nav a:hover{
color:pink;
}